    <div>{{! nav }}
      <header class="masthead">
        <h1 class="masthead-title"><a href="/">{{site-main-title}}</a></h1>
        <p>{{site-sub-title}}</p>
        <ul>
          {{#nav-categories}}
          <li><a href="{{category-uri}}"><i class="fa fa-folder"></i>{{category-name}}</a></li>
          {{/nav-categories}}
          <li><a href="/tags/"><i class="fa fa-tag"></i>Tags</a></li>
          <li><a href="/about/"><i class="fa fa-user"></i>About</a></li>
          <li><a href="{{github}}"><i class="fa fa-github"></i>GitHub</a></li>
          <li><a href="/rss.xml"><i class="fa fa-rss-square"></i>RSS</a></li>
        </ul>
        <form method="get" id="searchform" action="//www.google.com/search">
          <input type="text" class="field" name="q" id="s" placeholder="Search">
          <input type="hidden" name="as_sitesearch" value="{{site-domain}}">
        </form>
        {{#avatar}}
        <img class="avatar" src="{{avatar}}" />
        {{/avatar}}
      </header>
    </div>
